---
import Layout from "../layouts/PageLayout.astro";
import { FigmaButton, GitlabButton, SlackButton } from "../components";
import Card from "../components/card/Card.astro";
import { Heading2, Link, ScreenReaderOnly } from "@sikt/sds-core";
import { ButtonGroup, ButtonLink } from "@sikt/sds-button";
import { Picture } from "astro:assets";
import heroImage from "../assets/images/hero.png";
import komponenterImage from "../assets/images/komponenter.png";
import designprinsipperImage from "../assets/images/designprinsipper.png";
import { team } from "./laget-med/_data/contributors.ts";

const moderatedTeam = team[0].slice(0, -1);
const randomIndex = Math.floor(Math.random() * moderatedTeam.length);
const randomMember = moderatedTeam[randomIndex];
const randomMemberImgName = randomMember.name
  .toLowerCase()
  .replaceAll(" ", "-")
  .replaceAll(".", "");
const randomMemberImgSrc = `/images/contributors/${randomMemberImgName}-200x200.jpeg`;

const storybookUrl = import.meta.env.PUBLIC_STORYBOOK_URL;
---

<Layout>
  <div class="container">
    <div class="section">
      <Card className={["reverse", "large"]}>
        <div slot="image">
          <Picture
            src={heroImage}
            formats={["avif", "webp"]}
            widths={[240, 540]}
            alt=""
            aria-hidden
          />
        </div>
        <Heading2 size="xl" slot="heading">Lær, bruk og bidra</Heading2>
        <p>
          Velkommen til Sikts designsystem! Dette er en sammensetning av
          <Link href="/produktutvikling/komponenter">komponenter</Link> og retningslinjer
          du kan bruke når du designer og utvikler digitale løsninger og tjenester.
        </p>
      </Card>
    </div>

    <div class:list={["section", "section-double"]}>
      <Card>
        <div slot="image">
          <Picture
            src={designprinsipperImage}
            formats={["avif", "webp"]}
            widths={[240, 540]}
            alt=""
            aria-hidden
          />
        </div>
        <Heading2 slot="heading">Designprisipper og byggesteiner</Heading2>

        <ButtonGroup variant="left" slot="call-to-action">
          <ButtonLink
            variant="strong"
            href="/apps/astro/src/pages/produktutvikling/designtokens/"
          >
            Designtokens
          </ButtonLink>
        </ButtonGroup>
      </Card>

      <Card>
        <div slot="image">
          <Picture
            src={komponenterImage}
            formats={["avif", "webp"]}
            widths={[240, 540]}
            alt=""
            aria-hidden
          />
        </div>
        <Heading2 slot="heading">Komponenter</Heading2>
        <p>
          Komponenter er designsystemets brød og smør som muliggjør for likt
          bruk på tvers. Disse er sammensatte av mindre byggeklosser som
          designtokens og atomer.
        </p>
        <p>
          Alle komponentene i Sikt designsystem ligger i <Link
            href={storybookUrl}>Storybook</Link
          >.
        </p>
        <ButtonGroup variant="left" slot="call-to-action">
          <ButtonLink
            variant="strong"
            href="/apps/astro/src/pages/produktutvikling/komponenter"
          >
            Komponenter
          </ButtonLink>
        </ButtonGroup>
      </Card>
    </div>

    <div class="section">
      <Card>
        <Heading2 slot="heading">Samarbeid</Heading2>
        Å bygge et godt designsystem for Sikt vil være en laginnsats, der alle team
        er velkomne til å bidra inn. Det har allerede kommet inn mange gode bidrag
        fra ulike team, og vi håper at enda flere team ønsker å koble seg på fremover!
        <ButtonGroup variant="left" slot="call-to-action">
          <FigmaButton />
          <GitlabButton />
          <SlackButton variant="strong" />
        </ButtonGroup>
      </Card>
    </div>

    <div class:list={["section", "section-double"]}>
      <Card>
        <Heading2 slot="heading">Designlab</Heading2>
        <p>
          Fagmiljøet for alle designere i Sikt. Sammen utvikler vi produkter med
          høy brukskvalitet - altså nyttige, effektive og som skaper gode
          brukeropplevelser. Vi jobber for å skape helhet på tvers av Sikt, og
          det gjør vi med alt fra piksler til strategi.
        </p>

        <ButtonGroup variant="left" slot="call-to-action">
          <ButtonLink
            variant="strong"
            href="https://over.sikt.no/seksjon/3c9b54ac-a4a7-4938-b164-261c20e5c8f4?tab=Ansatte"
          >
            Designlab <ScreenReaderOnly>fagnettverk</ScreenReaderOnly>
          </ButtonLink>
        </ButtonGroup>
      </Card>

      <Card>
        <Heading2 slot="heading">Fagnettverk for frontendutvikling</Heading2>
        <p>
          Ett nettverk for å bygge kompetanse og synergi på tvers av Sikt sine
          frontendere.
        </p>

        <ButtonGroup variant="left" slot="call-to-action">
          <ButtonLink
            variant="strong"
            href="https://over.sikt.no/fagnettverk/52eca689-219e-4b98-8abb-a0f6ad8b527f"
          >
            Fagnettverk<ScreenReaderOnly>for frontendutvikling</ScreenReaderOnly
            >
          </ButtonLink>
        </ButtonGroup>
      </Card>

      <Card>
        <Heading2 slot="heading">Fagnettverk for tilgjengelighet</Heading2>
        <p>
          Vi lærer om universell utforming av nettsteder: inkluderende design,
          sematisk HTML, ARIA, testing, tilgjengelighetserklæring,
          funksjonsnedsettelser, skjermlesere og annen hjelpemiddelteknologi.
        </p>
        <ButtonGroup variant="left" slot="call-to-action">
          <ButtonLink
            variant="strong"
            href="https://over.sikt.no/fagnettverk/bde65d71-b64f-4724-879a-889364ada9a2"
          >
            Fagnettverk<ScreenReaderOnly>for tilgjengelighet</ScreenReaderOnly>
          </ButtonLink>
        </ButtonGroup>
      </Card>

      <Card className={["reverse"]}>
        <div slot="image">
          <img
            class="team-member-image"
            src={randomMemberImgSrc}
            alt=""
            aria-hidden
          />
        </div>
        <Heading2 slot="heading">Vi er også folk 👋</Heading2>
        <p>
          Vi som lager Sikt designsystem er også folk. Si hei til <Link
            href={`https://over.sikt.no/ansatt/${randomMember.id}`}
            >{randomMember.name}
          </Link>!
        </p>
      </Card>
    </div>
  </div>

  <style>
    @import url("@sikt/sds-tokens/dist/css/custom-media.css");

    .container {
      display: grid;
      gap: 48px;
    }

    .section {
      display: grid;
      gap: 48px;
    }

    .section-double {
      @media (--sds-base-breakpoint-desktop) {
        grid-template-columns: 1fr 1fr;
      }
    }

    .card-body {
      display: flex;
      flex-direction: column;
      gap: var(--sds-space-padding-medium);
    }

    .team-member-image {
      max-width: 200px;
      width: 100%;
    }
  </style>
</Layout>
