---
import { DarkToken, Token } from "../../../../../components";
import Swatch from "./Swatch.astro";
import { Badge } from "@sikt/sds-badge";
import { tokenName } from "../../../../../utils/token";

const { token } = Astro.props;
---

<div class="card">
  <div class="name">
    <Badge visibility="strong">{tokenName(token[1])}</Badge>
  </div>
  <div class="content">
    <div class="item item-light">
      <Swatch color={token[1].$value} />
      <div>
        <Token token={token[1]} />
      </div>
    </div>
    <div class="item item-dark">
      <Swatch color={token[1].dark} />
      <div>
        <DarkToken token={token[1]} />
      </div>
    </div>
  </div>
</div>

<style>
  @import url("@sikt/sds-tokens/dist/css/custom-media.css");

  .card {
    align-items: center;
    display: grid;
    gap: var(--sds-space-padding-medium);
    grid-template-columns: 1fr;
    justify-content: space-between;

    &:last-child {
      .item {
        &:last-child {
          border-bottom-right-radius: var(--color-card-border-radius);
          border-bottom-left-radius: var(--color-card-border-radius);
        }
      }
    }

    @media (--sds-base-breakpoint-desktop) {
      grid-template-columns: 3fr 4fr;

      &:first-child {
        .item {
          &:last-child {
            border-top-right-radius: var(--color-card-border-radius);
          }
        }
      }

      &:last-child {
        .item {
          &:last-child {
            border-bottom-left-radius: unset;
          }
        }
      }
    }
  }

  .name {
    padding: var(--sds-space-padding-small);
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;

    @media (--sds-base-breakpoint-desktop) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .item {
    align-items: center;
    background-color: var(--sds-color-layout-background-default);
    color: var(--sds-color-text-primary);
    display: flex;
    gap: var(--sds-space-padding-small);
    padding: var(--sds-space-padding-small);
  }

  .item-light {
    color-scheme: only light;
  }

  .item-dark {
    color-scheme: only dark;
  }
</style>
