---
import favicon32 from "@sikt/sds-logo/Favicon-Light@32px.png";
import favicon180 from "@sikt/sds-logo/Favicon-Light@180px.png";
import faviconSvg from "@sikt/sds-logo/Favicon-Light.svg";
import faviconDark32 from "@sikt/sds-logo/Favicon-Dark@32px.png";
import faviconDark180 from "@sikt/sds-logo/Favicon-Dark@180px.png";
import faviconDarkSvg from "@sikt/sds-logo/Favicon-Dark.svg";
import tokens from "@sikt/sds-tokens/dist/js/tokens.mjs";
import colorDark from "@sikt/sds-tokens/dist/js/color.dark.mjs";
import { Footer } from "../components";
import { Header } from "../components";

const { title } = Astro.props;
const currentPath = Astro.url.pathname;
const pageTitle = `${title ? `${title} | ` : ""}Sikt designsystem`;
---

<!doctype html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" sizes="any" href={favicon32.src} />
    <link rel="icon" type="image/svg+xml" href={faviconSvg.src} />
    <link rel="apple-touch-icon" href={favicon180.src} />
    <link
      rel="icon"
      sizes="any"
      href={faviconDark32.src}
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href={faviconDarkSvg.src}
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="apple-touch-icon"
      href={faviconDark180.src}
      media="(prefers-color-scheme: dark)"
    />
    <link rel="manifest" href="/manifest.json" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="theme-color"
      content={tokens.color.brand.primary.strong.$value}
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content={colorDark.color.brand.primary.strong.$value}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="body">
    <Header currentHref={currentPath} />
    <main id="main">
      <slot />
    </main>
    <Footer currentHref={currentPath} />
  </body>
</html>

<style is:global>
  @layer base, components;

  @import url("@sikt/sds-core") layer(base);
  @import url("@sikt/sds-badge") layer(base);
  @import url("@sikt/sds-breadcrumbs") layer(base);
  @import url("@sikt/sds-button") layer(base);
  @import url("@sikt/sds-footer") layer(base);
  @import url("@sikt/sds-header") layer(base);
  @import url("@sikt/sds-icons") layer(base);
  @import url("@sikt/sds-list") layer(base);
  @import url("@sikt/sds-logo") layer(base);
  @import url("@sikt/sds-section") layer(base);
  @import url("@sikt/sds-table") layer(base);
  @import url("@sikt/sds-tabs") layer(base);

  .sds-typography-link[aria-current="page"] {
    text-decoration: none;
  }

  .ds-content-max-width {
    max-width: 720px;
  }

  .sds-section__content {
    display: flex;
    flex-direction: column;
    gap: var(--sds-space-gap-medium);
    max-width: var(--sds-space-grid-max-width);
  }
</style>

<style>
  .body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>

<script>
  import { onCLS, onINP, onLCP } from "web-vitals";

  const sendToAnalytics = ({ name, delta, value, id }) => {
    if (!_paq) {
      return;
    }
    _paq.push(["trackEvent", name, id, delta, value]);
  };

  onCLS(sendToAnalytics);
  onINP(sendToAnalytics);
  onLCP(sendToAnalytics);
</script>
