---
import favicon32 from "@sikt/sds-logo/Favicon-Light@32px.png";
import favicon180 from "@sikt/sds-logo/Favicon-Light@180px.png";
import faviconSvg from "@sikt/sds-logo/Favicon-Light.svg";
import faviconDark32 from "@sikt/sds-logo/Favicon-Dark@32px.png";
import faviconDark180 from "@sikt/sds-logo/Favicon-Dark@180px.png";
import faviconDarkSvg from "@sikt/sds-logo/Favicon-Dark.svg";
import * as tokens from "@sikt/sds-tokens";
import * as colorDark from "@sikt/sds-tokens/dist/js/color.dark.js";
import { Footer } from "../components";
import { Header } from "../components";

const { title } = Astro.props;
const currentPath = Astro.url.pathname;
const pageTitle = `${title ? `${title} | ` : ""}Sikt designsystem`;
---

<!doctype html>
<html lang="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" sizes="any" href={favicon32.src} />
    <link rel="icon" type="image/svg+xml" href={faviconSvg.src} />
    <link rel="apple-touch-icon" href={favicon180.src} />
    <link
      rel="icon"
      sizes="any"
      href={faviconDark32.src}
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href={faviconDarkSvg.src}
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="apple-touch-icon"
      href={faviconDark180.src}
      media="(prefers-color-scheme: dark)"
    />
    <link rel="manifest" href="/manifest.json" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="theme-color"
      content={tokens.default.color.brand.primary.strong.value}
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content={colorDark.default.color.brand.primary.strong.value}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="body">
    <Header currentHref={currentPath} />
    <main id="main">
      <slot />
    </main>
    <Footer currentHref={currentPath} />
  </body>
</html>

<style is:global>
  @import url("@sikt/sds-core");
  @import url("@sikt/sds-breadcrumbs");
  @import url("@sikt/sds-button");
  @import url("@sikt/sds-footer");
  @import url("@sikt/sds-header");
  @import url("@sikt/sds-icons");
  @import url("@sikt/sds-list");
  @import url("@sikt/sds-logo");
  @import url("@sikt/sds-section");

  .ds-content-max-width {
    max-width: 720px;
  }

  .sds-section__content {
    display: flex;
    flex-direction: column;
    gap: var(--sds-space-gap-medium);
    max-width: var(--sds-space-grid-max-width);
  }
</style>

<style>
  .body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>
